<link rel="stylesheet" href="/static/css/style.css">
<div class="wrapper">
    <div class='head'></div>
	<div class="all_content">
	    <div class="header">
	        <div class="in_header">
	    	    <a href="/profile">my site</a>
				<a href="/profile">home</a>
				<a href="/contact">contact</a>
				<a href="/messages">messages</a>
				<a href="/logout">Exit</a>
	    	</div>
	    </div>	
	<div class="row">
	    <div class="content">
		    <div class="in_content">
               
			</div>
		</div>
	    <div class="profile_sidebar">
		    <div class="profile_in_sidebar">
				<img src="static/img/{{ photo.filename }}" alt="img" width="268px"/>    
				{{ user.username }}</br>
				{{ profile.city }}</br>
			</div>
	    <div class="contact_sidebar">
		    <div class="contact_in_sidebar">
			    Friends</br>
				{% for contact in contacts %}
				{% for user in users %}
				{% if user.id == contact.user_id %}
                    <a href='/{{ contact.user_id }}'>
					{{ user.username }}</br>
					{% for photo in photos %}
					{% if photo.owner_id == user.id %}
                    <img src='static/img/{{ photo.filename }}' width='90px'/></br>
   					{% endif %}
					{% endfor %}
					<a href='/contact/{{ contact.id }}/delete' style='color:red'>delete contact<a></br>
					</a>
				{% endif %}
				{% endfor %}	
                {% endfor %}			
			</div>		
	
		</div>
	</div>
	<div class="footer">
	    <div class="in_footer">
               social_network © 2017
		</div>
	</div>
	</div>
</div>


