<link rel="stylesheet" href="/static/css/style.css">
<div class="wrapper">
    <div class='head'></div>
	<div class="all_content">
	    <div class="header">
	        <div class="in_header">
	    	    <a href="/profile">my site</a>
				<a href="/profile">home</a>
				<a href="/contact">contact</a>
				<a href="/messages">messages</a>
				<a href="/logout">Exit</a>
	    	</div>
	    </div>	
	<div class="row">
	    <div class="content">
		    <div class="in_content">	
               {% from "_formhelpers.html" import render_friends %}
			   {{ render_friends(contacts,users,photos) }}
			</div>
		</div>
	    <div class="profile_sidebar">
		    <div class="profile_in_sidebar">
				<img src="static/img/{{ photo.filename }}" alt="img" width="268px"/>    
				{{ user.username }}</br>
				Birthday: {{ profile.bday }}</br>
				Сity: {{ profile.city }}</br>
				{{ profile.sex }}</br>
			    <a href='/update'>update<a></br>
			</div>
	</div>
	<div class="footer">
	    <div class="in_footer">
               social_network © 2017
		</div>
	</div>
	</div>
</div>


