<link rel="stylesheet" href="/static/css/style.css">
<div class="wrapper">
    <div class='head'></div>
	<div class="all_content">
	    <div class="header">
	        <div class="in_header">
	    	    <a href="/profile">my site</a>
				<a href="/profile">home</a>
				<a href="/contact">contact</a>
				<a href="/logout">Exit</a>
	    	</div>
	    </div>	
	<div class="row">
	    <div class="content">
		    <div class="in_content">
               
			</div>
		</div>
	    <div class="profile_sidebar">
		    <div class="profile_in_sidebar">
				<img src="https://www.sololearn.com/Icons/Courses/1073.png" alt="img" width="259px"/>    
			    {{ user.username }}
			</div>
		<div>

			</div>
		</div>
	</div>
	<div class="footer">
	    <div class="in_footer">
               social_network © 2017
		</div>
	</div>
	</div>
</div>


